@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-vindo ao Multi Cursos Online</h1>
    <p class="lead">O maior investimento é a sua educação!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cursos</h2>
        <p>
            Para saber mais detalheres sobres os curso clique no botão abaixo:
        </p>
        <p><a style ="background-color: lightpink; color: white"class="btn btn-default" href="/Curso">Cursos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Turmas</h2>
        <p>
            Para saber mais detalheres sobres os turmas clique no botão abaixo:
        </p>
        <p><a style="background-color: greenyellow"class="btn btn-default" href="/Turma">Turmas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alunos</h2>
        <p>
            Para saber mais detalheres sobres os turmas clique no botão abaixo:
        </p>
        <p><a style="background-color:dodgerblue"class="btn btn-default" href="/Aluno">Alunos &raquo;</a></p>
    </div>
</div>